<div class="container w-50 mt-3">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit :Add!, class: "btn btn-primary rounded w-100 mt-3" %>
  <% end %>
</div>
