// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

a:hover {
  text-decoration: none;
}

.navbar.navbar-dark.bg-dark {
  height: 80px;
}

body {
  background-image: linear-gradient(rgba(173, 173, 173, 0.01), rgba(172, 172, 172, 0.1)), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/frozen-alcoholic-drink-recipes-1526661829.jpg);
  background-size: 100%;
}